section.filters {
	width: 100%;
	height: 70px;
	background-color: #FFFFFF;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
    justify-content: flex-start;
    position: relative;
}

section.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
    right: 30px;
    bottom: 50%;
    transform: translateY(50%);
}

section.filters button:hover {
	opacity: 90%;
}

section.filters div.location,
section.filters div.amenities {
	height: 100%;
	width: 25%;
	padding: 18px 50px;
	position: relative;
}

section.filters div.location:hover ul.popover,
section.filters div.amenities:hover ul.popover {
	display: block;
}

section.filters div.location {
	border-right: solid 1px #DDDDDD;
}

section.filters div h3 {
	font-weight: 600;
}

section.filters div h4 {
	font-weight: 400;
	font-size: 14px;
}

ul.popover {
	transition: all 1s ease;
	background-color: #FAFAFA;
	border: solid 1px #DDDDDD;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	width: 101%;
    position: absolute;
    left: -1px;
    top: 67.5px;
    padding: 20px;
    display: none;
    z-index: 100;
}

ul.popover li {
	list-style: none;
	padding: 3px;
}

ul.popover .state li {
	padding-left: 20px;
}

ul.popover .state {
	padding-bottom: 20px;
}

ul.popover .state h2 {
	font-size: 16px;
}

@media screen and (max-width: 1024px) {
	div.container {
		padding: 0 20px;
	}

	section.filters div.location,
	section.filters div.amenities {
		padding: 18px 30px;
		width: 30%;
	}
}

@media screen and (max-width: 700px) {
	section.filters div.location,
	section.filters div.amenities {
		padding: 18px 20px;
		width: 40%;
	}

	section.filters button {
		right: 20px;
	}
}

@media screen and (max-width: 550px) {
	section.filters div.location,
	section.filters div.amenities {
		padding: 18px 10px;
	}

	section.filters button {
		right: 10px;
	}
}

@media screen and (max-width: 435px) {
	div.container {
		padding: 0 10px;
	}

	section.filters {
		height: 85px;
	}
}