section.filters {
	width: 100%;
	height: 70px;
	background-color: #FFFFFF;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	position: relative;
}

section.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
    right: 30px;
    bottom: 50%;
    transform: translateY(50%);
}

section.filters button:hover {
	opacity: 90%;
}
