section.filters {
	width: 100%;
	height: 70px;
	background-color: #FFFFFF;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
    justify-content: flex-start;
    position: relative;
}

section.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
    right: 30px;
    bottom: 50%;
    transform: translateY(50%);
}

section.filters button:hover {
	opacity: 90%;
}

section.filters div.location,
section.filters div.amenities {
	height: 100%;
	width: 25%;
	padding: 18px 50px;
}

section.filters div.location {
	border-right: solid 1px #DDDDDD;
}

section.filters div h3 {
	font-weight: 600;
}

section.filters div h4 {
	font-weight: 400;
	font-size: 14px;
}
